HL_CLIENT_ID=6a1e8845e4132c06ff7cb482-mpwceqh1
HL_CLIENT_SECRET=16800c43-138a-4837-88db-5670b6844922
HL_REDIRECT_URI=http://127.0.0.1:5001/test-project-5ed42/us-central1/api/oauth/hl/callback
HL_USER_TYPE=Location
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://127.0.0.1:5001/test-project-5ed42/us-central1/api/oauth/connector/google-contacts/callback
TOKEN_ENCRYPTION_KEY=3d4e3902686f7864ae13a06af897d22add5ae58ba627ca8921d62df1321e1ffa
APP_URL=http://localhost:5173
FUNCTIONS_URL=http://127.0.0.1:5001/test-project-5ed42/us-central1/api
HUBSPOT_PRIVATE_APP_TOKEN=
